body{
    background: rgb(30 29 43);
    color: #beb8b2;
}
.card{
    border: 1px solid rgb(164, 155, 155);
    border-radius: 25px;
    margin: 10px;
    padding: 15px;
}
.delete-button{
    background: rgb(117 32 32);
    border-radius: 25px;
    border: none;
    font-size: 24px;
    color: #f6ebde;
    padding: 10px 40px;

}